@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #EDEEF0;
}

.navBar
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #2B2C2D;
}

.logo
{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 40px;
}

.imgLogo
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: 100%;
    /* background: #DD0000; */
    margin: 20px 0;
    position: relative;
}

.imgLogo::before
{
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: #CD242E;
    z-index: 100;

    right: -10%;
    transform: skew(-20deg);
    
}

.imgLogo::after
{
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: #B40000;

    left: 20%;
    transform: skew(-20deg);
    
}

.imgLogo img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 200;

}

.imgLogo img:hover
{
    cursor: pointer;

}


/* code commeted below is fo my new design */

/* 
.psuedo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background: #DD0000;
    margin: 20px 0;
    position: relative;
}

h1
{
    z-index: 200;
}

.psuedo::before
{
    content: '';
    position: absolute;
    display: flex;
    width: 380px;
    height: 200px;
    background: #fff;
    z-index: 100;

    right: 20%;
    transform: skew(-20deg);
    
}

.psuedo::after
{
    content: '';
    position: absolute;
    display: flex;
    width: 380px;
    height: 200px;
    background: blue;



    transform: skew(-20deg);
    
}
 */

/* code commeted before is fo my new design */


.nav_link
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1;
    
}

.nav_link ul
{
    display: flex;
    align-items: center;
    align-items:center ;
    color: #fff;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}

.nav_link ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* padding: 0 10px; */
    margin: 0 10px;
    font-weight: 100;
    cursor: pointer;
}


/* main starting here */
.main
{
    display: flex;
    width: 95%;
    margin: 10px auto;
}

.leftMain,
.rightMain
{
    display: flex;
    flex-direction: column;
    width: 20%;
    
}

.userLogin
{
    width: 100%;
    background: #fff;
    padding: 0 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.userLogin p
{
    display: flex;
    align-items: center;
    padding:15px 0;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 600; */
    border-bottom: 1px solid rgba(82, 73, 73, 0.3);
}

.userLogin .signUp
{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-radius: 50px;
    background: #0066CC;
    border:1px solid #0066CC;
    color: #fff;
    transition: all 400ms ease;

}

.userLogin .signUp:hover
{
    cursor: pointer;
    background: #013366;
}

.userLogin .login
{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-radius: 50px;
    background: #fff;
    border: none;
    color: #2d8be9;
    border: 1px solid #2d8be9;
    transition: all 400ms ease;

}

.userLogin .login:hover
{
    cursor: pointer;
    background: #CCE0F5;
    border: 1px solid #CCE0F5;
}

.userLogin .signUp:hover
{
    cursor: pointer;
}



.QuickLinks,
.espnApp
{
    width: 100%;
    background: #F9F9FB;
    padding: 0 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.QuickLinks p,
.espnApp p
{
    display: flex;
    align-items: center;
    padding:15px 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgba(82, 73, 73, 0.3);
    font-weight: bolder;
}



.leagues,
.appContainer
{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgba(82, 73, 73, 0.1);

}

.appContainer p
{
    border: none;
}

.leagues p,
.appContainer p
{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    border: none;
}

.leagues img,
.appContainer img
{
    display: flex;
    align-items: center;
    width: 25px;    
}

.lastChild
{
    border: none;
}



/* end of left content */

/* start of center content */
.centerMain
{
    flex: 1;
    margin: 0 20px;
}

.topNews,
.randomNews
{
    display: block;
    background: #fff;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 5px;
}

.topNews
{
    position: relative;
}

.topNews:hover
{
    cursor: pointer;
}

.topNews:hover h1
{
    color: #0066CC;
}

.topNews img
{
    width: 100%;
    height: 320px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.topNews h1
{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.topNews p
{
    padding:5px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.topNews .imageBy 
{
    display: flex;
    align-items: center;
    padding: 2px;
    height: 15px;
    background: #383A3D;
    z-index: 100;
    position: absolute;
    top: 15px;
    right: 15px;
}

.topNews .imageBy .fa
{
    
    background-color: #fff;
    height: 100%;
    font-size: 15px;
    

}

.topNews .imageBy p
{
    
    color: #fff;
    font-size: 15px;
    display: none;
    transition: all 400ms ease;
    
}

.topNews .imageBy:hover p
{
    display: block;
}

small{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .4);
    font-size: 12px;
}

.randomNews
{
    margin: 15px 0;
    padding-bottom: 15px;
    width: 100%;
    
    
}

.randomNews .newsContainer
{
    margin: 15px 0;
}

.randomNews .newsHeader
{
    display: flex;
    align-items: center;
    
}

.randomNews .newsHeader .newsLogo
{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 5px 15px;
    
}

.randomNews .newsHeader img
{
    width: 7%;
}

.randomNews .newsHeader .newsDetails
{
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    padding: 4px;
}

.randomNews .newsHeader .newsDetails h1
{
   font-size: 1rem;

}

.randomNews .newsHeader .newsDetails p
{
    font-size: 10px;
    padding: 3px 0;
    /* color: rgba(0, 0, 0, .7); */
    color: gray;
    font-weight: 600;

}

.randomNews .newsHeader a
{
    text-decoration: none;
    color: #0066CC;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 15px;

}

.randomNews .newsHeader .newsLogo:hover
{
    color: #0066CC;
    cursor: pointer;
}

.randomNews .imageNews
{
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
    
}

.randomNews .imageNews img
{
    width: 100%;
    height: 320px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.randomNews .imageNews .imageInfo
{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 15px;
}

.randomNews .imageNews .imageInfo h1
{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.randomNews .imageNews .imageInfo p
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .5);
    

}

.imageNews:hover h1
{
    cursor: pointer;
    color: #0066CC;
}

.randomNews .linkNews
{
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.randomNews .linkNews a
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
}

/* starting of right side */
.rightMain
{
    display:flex;
    /* background: #fff; */
    width: 25%;
}

.rightMain .rightHeader
{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.rightMain .rightHeader ul
{
    list-style-type: none;
}

.rightMain .rightHeader p
{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.rightMain .rightHeader ul li
{
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.rightMain .rightHeader ul li a
{
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

.rightMain .rightHeader ul li a:hover
{
    color: #0066CC;
}

/* login overlay */

#login,
#register
{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    
}


#loginBox,
#registerBox
{
    position: absolute;
    width: 30%;
    background: #fff;
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#loginBox button,
#registerBox button
{
    background: transparent;
    border: none;
}

#loginBox .closeBTN,
#registerBox .closeBTN
{
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 15px;
}

#loginBox .closeBTN .fa:hover,
#registerBox .closeBTN .fa:hover
{
    cursor: pointer;
}

#loginBox img,
#registerBox img
{
    width:150px;
    height:70px; 
    margin: 0;
    
}


#loginBox form
#registerBox form
{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
}

#loginBox form input,
#register form input
{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
}

#loginBox form input:focus,
#registerBox form input:focus
{
    border: 2px solid #0066CC;
}

#loginBox form input[type="submit"],
#registerBox form input[type="submit"]
{
    border-radius: 50px;
    background: #0066CC;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #0066CC;
    margin-bottom: 10px;
}

#registerBox p
{
    
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgba(0, 0, 0, .3); */
    /* box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .2); */
}


#registerBox hr
{
    margin: 10px 0;
}

#loginBox form a
{
    text-decoration: none;
    color: #2d8be9;
}

#loginBox form p
{
    margin: 15px 0;
    font-size: 12px;
}

#loginBox form button
{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #0066CC;
    color: #0066CC;
    background: transparent;
    border-radius: 50px;
    transition: all 400ms ease;
}

#loginBox form button:hover
{
    background: #0066CC;
    color: #fff;
    cursor: pointer;
}







